body{

	background: url("./assets/images/theME.png");
	background-size:contain;
	background-repeat:no-repeat;

}
h1{
	color: silver;
	font-family: 'Roboto Slab', serif;
	margin:bottom;
	background-color:#333;
	text-transform: uppercase;
	letter-spacing: 3px;
}
h2{
	font-family: 'Roboto Slab', serif;
	text-transform: uppercase;
	letter-spacing: 5px;
	color: silver;
}

.about{
	font-family: 'Roboto Slab', serif;
	width: 100%;
	font-size: 18px;
	line-height: 1.5;
	color:white;
}
.footer{
	color:white;
}
.container{
	width:500px;
	margin:0 auto;
	text-align: center;
	background-image:url("assets/images/theME.png") ;
}
#me{
	height: 200px;
	width: 200px;
	border-radius: 50%;
	border-style: solid;
	border-width: 1px;
	border-color: white;
	margin-top:50px;
}